@model IEnumerable< ShoppingApp.Models.Category>

@{
    ViewBag.Title = "Website";
}

<h2>Select Category</h2>

<p>

    select from @Model.Count()
    categories:
</p>

<ul>
    @foreach (var category in Model) { 
    <li>@Html.ActionLink(category.cat_name,"Browse",new { category = category.cat_name})</li>
    }

</ul>